<button routerLink="creacion" routerLinkActive="active">Crear Post</button>

<h2>Table Example</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Body</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let post of posts">
    <td>{{ post.id }}</td>
    <td>{{ post.title }}</td>
    <td>{{ post.body }}</td>
    <td>
      <button>Ver</button>
      <button routerLink="actualizacion/{{ post.id }}" routerLinkActive="active">Editar</button>
      <button (click)="eliminarPost(post.id)">Borrar</button>
  </tr>
</table>

